# directories
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
**/artifacts
**/build
**/cache
**/coverage
**/.coverage_artifacts
**/.coverage_cache
**/.coverage_contracts
**/dist
**/node_modules

# files
*.env
*.log
.pnp.*
coverage.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# types
src/types/*
!src/types/common.ts
!src/types/contracts/GovernorBravoDelegate.ts
!src/types/contracts/GovernorBravoDelegator.ts
!src/types/contracts/Hifi.ts
!src/types/contracts/Timelock.ts
!src/types/contracts/test/GodModeGovernorBravoDelegate.ts
!src/types/contracts/test/GodModeHifi.ts
!src/types/contracts/test/GodModeTimelock.ts

# factories
src/types/factories/*
!src/types/factories/contracts/GovernorBravoDelegate__factory.ts
!src/types/factories/contracts/GovernorBravoDelegator__factory.ts
!src/types/factories/contracts/Hifi__factory.ts
!src/types/factories/contracts/Timelock__factory.ts
!src/types/factories/contracts/test/GodModeGovernorBravoDelegate__factory.ts
!src/types/factories/contracts/test/GodModeHifi__factory.ts
!src/types/factories/contracts/test/GodModeTimelock__factory.ts
